<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dreamdrummer">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".Excercise"></activity>
        <activity android:name=".Createband" />
        <activity android:name=".Leaderboards" />
        <activity android:name=".PracticeArena" />
        <activity android:name=".Lessthree" />
        <activity android:name=".Lesstwo" />
        <activity android:name=".Lessone" />
        <activity android:name=".TriviaActivity" />
        <activity android:name=".LossActivity" />
        <activity android:name=".GameOver" />
        <activity android:name=".GameActivity" />
        <activity android:name=".Hallof" />
        <activity android:name=".Believer" />
        <activity android:name=".Animals" />
        <activity android:name=".Whatilike" />
        <activity android:name=".Magic" />
        <activity android:name=".Countingstars" />
        <activity android:name=".Friends" />
        <activity android:name=".SeeuAgain" />
        <activity android:name=".Museups" />
        <activity android:name=".Havana" />
        <activity android:name=".Clocks" />
        <activity android:name=".Doneforme" />
        <activity android:name=".Mylove" />
        <activity android:name=".Passengerlether" />
        <activity android:name=".Eyeofthe" />
        <activity android:name=".miserymaroon" />
        <activity android:name=".imaginejhon" />
        <activity android:name=".SongsAdvanced" />
        <activity android:name=".WarmUpAdvanced" />
        <activity android:name=".LessonsAdvanced" />
        <activity android:name=".SongsBeginner" />
        <activity android:name=".TavBeginner" />
        <activity android:name=".LessonBeginner" />
        <activity android:name=".Advance" />
        <activity android:name=".Begin" />
        <activity android:name=".AboutAPP" />
        <activity android:name=".AboutMe" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SignUp" />
        <activity android:name=".Septemberend" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyService" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>